

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*     CSS3 importar fuentes       */
@font-face {
    font-family: "FontdinerSwanky";
    src: url( ../fonts/FontdinerSwanky.ttf );
}

.titulo{
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0,255,200,255);
    font-family: 'FontdinerSwanky';
    text-align: center;
    font-size: 300%;
}

.info{
    display: none;
}

body {
  color: #ffffff;
  background: url(../img/universe.jpg) repeat;
}













