

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.info{
    display: none;
}

body {
  color: #ffffff;
  background: url(../img/universe.jpg) repeat;
}











